/* regole di reset */

body, header, h1, h2,
h5, ul,main {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    padding: 0 !important;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto; /*forzo il footer in fondo*/
}


body > footer {
    background-color: rgb(54, 54, 54);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

body > header a img {
    width: 5%;
}

button, li input[type="submit"] {
    background-color: #E67E22;
    color: #ffffff;
    padding: 12px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 10px !important;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.1s ease;
}

button:hover, li input[type="submit"]:hover, .bottone:hover {
    background-color: #d35400;
}

button:active, li input[type="submit"]:active, .bottone:active {
    transform: scale(0.98);
}

.bottone {
    display: block;
    width: 50%;
    margin: 20px auto;
    text-decoration: none;
    background-color: #E67E22;
    color: #ffffff;
    padding: 5px 15px;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 10px !important;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.1s ease;
}

.temporaneo {
    border: 2px solid rgba(0, 0, 0, 0.625);
    border-radius: 5px;
    padding: 20px 5% !important;
    background-color: white;
}

@media (min-width: 768px) {
    .temporaneo {
        padding: 20px 3% !important;
    }
}

.click:hover {
    background-color: lightgray;
    transform: scale(1.05);
    transition: all 0.4s;
}

.click:active {
    background-color: gray;
    transform: scale(0.95);
    transition: all 0.4s;
}

.click {
    transition: transform 0.4s ease-in-out;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
}

.cliccabile section {
    display: flex;
    justify-content: center;
    height: 200px;
    /* Imposta un'altezza fissa per la sezione immagine */
    overflow: hidden;
    /* Evita problemi con immagini più grandi */
}

.cliccabile img {
    height: 100%;
    object-fit: cover;
    /* Ritaglia l'immagine per riempire la sezione */
    border-radius: 5px;
}