/* regole di reset */

body, header, h1, h2,
h5, ul,main {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    padding: 0 !important;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto; /*forzo il footer in fondo*/
}


body > footer {
    background-color: rgb(54, 54, 54);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

button {
    background-color: #E67E22;
    color: #ffffff;
    padding: 12px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 10px !important;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.1s ease;
}

button:hover {
    background-color: #d35400;
}

button:active {
    transform: scale(0.98);
}
